h1 {
    text-align: center;
    background-color:rgba(0, 255, 242, 0.438);
    color: rgb(255, 251, 0);
    border-style: dashed;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-image: url("monkey wallpaper.png");
    background-color: transparent;
}



.cargame{
    
}

nav ul {
    list-style: none;
    background-color: ;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    float: left;
}

nav ul a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hotpink;
    color: #023047;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #050047;
    color: purple
}