h1 {
    text-align: center;
    background-color:rgba(0, 255, 242, 0.438);
    color: rgb(255, 251, 0);
}

body {
    background-image: url("monkey wallpaper.png");
    background-color: transparent;
}

nav ul {
    list-style: none;
    background-color: chartreuse;
}

nav ul li{
    float: left;
}

nav ul li a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}